<ul metis-menu>
    <li><a href="">Item 1</a></li>
    <li>
      <a href="#" class="has-arrow">Menu 1</a>
      <ul>
        <li><a href="#"> Item 3 </a></li>
        <li><a href="#"> Item 4 </a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="has-arrow"> Menu 2 </a>
      <ul>
        <li><a href=""> Item 5 </a></li>
        <li><a href=""> Item 6 </a></li>
        <li><a href=""> Item 7 </a></li>
        <li><a href=""> Item 8 </a></li>
      </ul>
    </li>
    <li><a href="">Item 2</a></li>
  </ul>