<!-- <app-header></app-header>
<app-sidemenu></app-sidemenu>
<div class="container-fluid">
    <h1 class="mt-4">Simple Sidebar</h1>
    <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
    <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
  </div> -->

  <div class="row">
      <div class="col-md-3 zeropad-r">
          <app-sidemenu></app-sidemenu>
          
        </div>
        <div class="col-md-9 zeropad-l">
            <app-header></app-header>
            <div class="container bg-clr">
                <div class="row">
                    <div class="col-md-12 mt-3">
                        test
                        <p>allusers works!</p>

                    </div>
                </div>    
            </div>
    </div>
</div>


